<header class="container header">
    <a href="{{ path('fo_home') }}" class="header__logo pull-left">
        <img src="{{ asset('logo.png') }}" class="header__logo__img" title="Bonne augure">
    </a>

    <nav class="header__navigation">
        <ul class="header__navigation__list">
            <li class="header__navigation__list__element"><a href="{{ path('fo_home') }}">Accueil</a></li>
            <li class="header__navigation__list__element"><a href="{{ path('fo_horoscope') }}">Horoscope</a></li>
            <li class="header__navigation__list__element"><a href="#">Guide pratique</a></li>
            <li class="header__navigation__list__element"><a href="#">Annuaire</a></li>
            <li class="header__navigation__list__element"><a href="#">Voyants</a></li>
            <li class="header__navigation__list__element"><a href="#">Contact</a></li>
            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('bo_home') }}">Back-Office</a></li>
            {% endif %}
            </li>
        </ul>

        <ul class="header__account__list">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{ app.user.lastName }}  {{ app.user.firstName }} |
                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            {% else %}
                <li class="header__account__list__element"><a href="{{ path('fo_login') }}">Login</a></li>
                <li class="header__account__list__element"><a href="{{ path('fo_register') }}">Inscription</a></li>
            {% endif %}
        </ul>
    </nav>
</header>