<header>
    <hr class="header__line" />

    <div class="container">
        <h1 class="header__logo">
            <a href="{{ path('fo_home') }}">
                <img src="{{ asset('logo.png') }}" class="header__logo__img" title="Bonne augure">
            </a>
        </h1>

        <div class="header__menu-hamburger">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </div>

        <nav class="header__nav ">
            <div class="header__nav__site">
                <ul>
                    <li{% if app.request.attributes.get('_route') == 'fo_home' %} class="actif"{% endif %}>
                        <a href="{{ path('fo_home') }}">
                            Accueil
                        </a>
                    </li>
                    <li{% if app.request.attributes.get('_route') == 'fo_horoscope' or app.request.attributes.get('_route') == 'fo_horoscope_by_type' %} class="actif"{% endif %}>
                        <a href="{{ path('fo_horoscope') }}">
                            Horoscope
                        </a>
                    </li>
                    <li{% if app.request.attributes.get('_route') == 'fo_guidebooks' or app.request.attributes.get('_route') == 'fo_guidebook' %} class="actif"{% endif %}>
                        <a href="{{ path('fo_guidebooks') }}">
                            Guide pratique
                        </a>
                    </li>
                    <li{% if app.request.attributes.get('_route') == 'fo_year_book' %} class="actif"{% endif %}>
                        <a href="{{ path('fo_year_book') }}">
                            Annuaire
                        </a>
                    </li>
                    <li{% if app.request.attributes.get('_route') == 'fo_contact' %} class="actif"{% endif %}>
                        <a href="{{ path('fo_contact') }}">
                            Contact
                        </a>
                    </li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a class="header__navigation__list__element__link" href="{{ path('bo_home') }}">Back-Office</a></li>
                    {% endif %}
                    </li>
                </ul>
            </div>

            <div class="header__nav__account">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Connecté en tant que {{ app.user.lastName }}  {{ app.user.firstName }} |
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                {% else %}
                    <a class="button button-primary" href="{{ path('fo_register') }}">S'inscrire</a>
                    <a class="button button-primary-bg" href="{{ path('fo_login') }}">Connexion</a>
                {% endif %}
            </div>
        </nav>
    </div>
</header>