{% extends '::base.html.twig' %}

{% block body %}
    {{ tinymce_init() }}
    <h2>Modifier un guide</h2>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.active) }}
    {{ form_label(form.picture) }}
    <img src="/pictures/guide_book/{{ guideBook.picture.filename }}" />
    {{ form_widget(form.picture) }}
    {{ form_row(form.html) }}
    <div>
        <input type="submit" value="Modifier" />
    </div>
    {{ form_end(form) }}

    <a href="{{ path('bo_guide_book_preview', { guideBook : guideBook.id }) }}">Visualiser</a>
    <button id="desactivate-guidebook" data-id="{{ guideBook.id }}">Désactiver</button>
    <button id="delete-guidebook" data-id="{{ guideBook.id }}">Supprimer</button>
{% endblock %}