{% extends '::base.html.twig' %}

{% block body %}
    <a href="{{ path('bo_user_list') }}">Gestion des utilisateurs</a><br>
    <a href="{{ path('bo_guide_book_list') }}">Gestion des guides</a><br>
    <a href="{{ path('bo_year_book_list') }}">Gestion des annuaires</a><br>
    <a href="{{ path('bo_paiement_method_list') }}">Gestion des moyens de paiement</a><br>
    <a href="{{ path('bo_ad_list') }}">Gestion des pubs</a><br>
{% endblock %}