<section class="partial__guideBook">
    <div>
        <img src="/pictures/guide_book/{{ guideBook.picture }}" alt="{{ guideBook.title }}" />
    </div>

    <article class="partial__guideBook__article">
        <header>
            <h4>aujourd'hui</h4>
            <hr />
            <h3>{{ guideBook.title }}</h3>
        </header>

        <p>
        {% autoescape %}
            {{ guideBook.html | raw | striptags  }}
        {% endautoescape %}
        </p>

        <footer>
            <a class="button1" title="voir {{ guideBook.title }}" href="{{ path('fo_guidebook', { 'id' : guideBook.id, 'title' : guideBook.title }) }}">consulter</a>
        </footer>
    </article>
</section>
